---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Events - Triverse">
	<main style="min-height: 100vh; display: flex; align-items: center; justify-content: center; color: white;">
		<h1>Events Page</h1>
	</main>
</Layout>
