@import "tailwindcss";



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	scrollbar-width: none;
	/* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
	/* WebKit */
}

body {
	font-family: var(--font-sf-pro), var(--font-space-grotesk), sans-serif;
	background: #010418;
	color: #FFFFFF;
}